/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles - Done
2.  Layout - In Progress
3.  Special Templates
  3.1 BG Hero Animation
  3.2 Card Animations
4.  Site Header
  4.1 Home header
  4.2 Archive header
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Post Byline
  7.2. Members Subscribe Form
  7.3. Comments
  7.4. Related Posts
  7.5. Koenig Styles
8.  Author Template
9.  Error Template
10. Subscribe Overlay
11. Site Footer
12. Dark Mode

*/


/* 1. Global - Set up bulma -- https://bulma.io
/* ---------------------------------------------------------- */
@import "bulma.css";
@import "builma-divider.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

html,
body {
    font-family: 'Inter', sans-serif;
}

/* 3. Special Templates
/* ---------------------------------------------------------- */

.post-group>.column:nth-child(n+4) {
    margin-top: 3em;
}

/* 3.1 -- Custom BG Hero Animation
/* ./partials/header-background.hbs
/* ---------------------------------------------------------- */

@-webkit-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#flow span {
    display: block;
    width: 200vw;
    height: 195vw;
    position: absolute;
    top: -180vw;
    left: -50vw;
    border-radius: 90vw;
    opacity: 0.6;
}

.flow-1 {
    background: #FF16AB;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
}

.flow-2 {
    background: #FFD264;
    position: absolute;
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
}

.flow-3 {
    background: #D637FF;
    position: absolute;
    -webkit-animation: rotating 7s linear infinite;
    -moz-animation: rotating 7s linear infinite;
    -ms-animation: rotating 7s linear infinite;
    -o-animation: rotating 7s linear infinite;
    animation: rotating 7s linear infinite;
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

/* 3.1 -- Custom BG Hero Animation
/* ./partials/post-card.hbs
/* ---------------------------------------------------------- */
body {
    -webkit-animation: fade-in 3s ease-in-out forwards;
    animation: fade-in 3s ease-in-out forwards;
}

strong {
    font-weight: 900;
}

.canvas-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

.canvas-wrapper .canvas+.canvas {
    margin-left: 40px;
}

.canvas {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

.canvas_border {
    position: absolute;
    top: 40px;
    left: -40px;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.canvas_border svg {
    height: 100%;
    width: 100%;
}

.rect-gradient {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: erase-line 1s ease-in-out forwards;
    animation: erase-line 1s ease-in-out forwards;
}

.canvas_img-wrapper {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-10deg) skew(-10deg);
    transform: rotate(-10deg) skew(-10deg);
    overflow: hidden;
    background: white;
}

.canvas_img {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    opacity: .3;
    max-width: 200px;
    max-height: 200px;
}

.canvas_copy {
    position: absolute;
    bottom: 0;
    left: 85%;
    text-transform: uppercase;
    color: #dac527;
    z-index: 100;
}

.canvas_copy--left {
    left: -25%;
}

.canvas_copy_title {
    font-size: 62px;
    display: block;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
    -webkit-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    color: black;
}

.canvas_copy_title:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.canvas_copy_title:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.canvas_copy_subtitle {
    display: block;
    -webkit-transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - 80px));
    transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - 80px));
    -webkit-transform-origin: top left;
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 24px;
    font-weight: 900;
    -webkit-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
}

.canvas_copy_details {
    display: block;
    -webkit-transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.14s;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.14s;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
}

.canvas_border,
.canvas_img-wrapper,
.canvas_img {
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.canvas_border,
.canvas_img-wrapper {
    -webkit-transform: rotate(-10deg) skew(-10deg);
    transform: rotate(-10deg) skew(-10deg);
}

.canvas_copy_title,
.canvas_copy_subtitle,
.canvas_copy_details {
    opacity: 0;
}

.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_subtitle,
.canvas:hover .canvas_copy_details,
.canvas:hover .canvas_img {
    opacity: 1;
}

.canvas:hover .canvas_border,
.canvas:hover .canvas_img-wrapper {
    -webkit-transform: rotate(-14deg) skew(-14deg) scale(0.96);
    transform: rotate(-14deg) skew(-14deg) scale(0.96);
}

.canvas:hover .canvas_img {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_details {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.canvas:hover .canvas_copy_subtitle {
    -webkit-transform: rotate(270deg) translateY(-100%) translateX(-100%);
    transform: rotate(270deg) translateY(-100%) translateX(-100%);
}

.canvas:hover .rect-gradient {
    -webkit-animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@-webkit-keyframes draw-line {
    from {
        stroke-dashoffset: 2000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-line {
    from {
        stroke-dashoffset: 2000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes erase-line {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 2000;
    }
}

@keyframes erase-line {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 2000;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 4. Site Header - Main Nav
/* ---------------------------------------------------------- */
.nav-post-title-active .nav {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-175%);
}

.nav-post-title-active .nav-post-title {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/* 5. Layout - Page building blocks
/* ---------------------------------------------------------- */


/* 6. Layout - Page building blocks
/* ---------------------------------------------------------- */


/* 11. Site Footer
/* ---------------------------------------------------------- */
